@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, rgba(132,183,219,1) 0%, rgba(68,136,176,1) 45%, rgba(74,115,171,1) 100%);
  transition: 0.3s;
}

.section_m {
  margin-inline: 100px;
}

nav {
  display: flex;
  gap: 40px;
  transition: 0.3s;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
nav a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.active {
  border-bottom: 2px solid rgb(255, 255, 255);
  color: #fff;
}

footer{
    background-color: rgb(0, 0, 0);
    padding-block: 40px;
    color: #fff;
}

.footer-div{
    display: flex;
    flex-direction: column;
}
.footer-div p{
    margin-bottom: 15px;
}
.footer-div a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    border-bottom: 1px solid transparent;
}
.footer-div a:hover{
    border-bottom: 1px solid #fff;

    transition: .3s;
}
.footer-main{
    display: flex;
    justify-content: space-around;
}